@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

    h1 {
        font-family: 'SEGA LOGO FONT';
        font-weight: 200;

    }

    a:link {
        color:rgb(112, 255, 255);
    }

    a:hover {
        color: burlywood;
    }